.newMentor {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/779/574/non_2x/online-learning-concept-teacher-with-lesson-book-behind-laptop-video-lesson-distance-study-at-school-illustration-flat-style-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 30%;
  background-position: 70% 40%;
}

.becomeMentor {
  margin: 40px 220px;
}

form {
  margin: 40px;
}

form i {
  font-size: 12px;
}

.line {
  display: flex;
  align-items: row;
}