@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.registration,
.login {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.left {
  background: url("https://coolbackgrounds.io/images/backgrounds/blue/blue-background-088FDC-8ecd0503.jpg");
  width: 1000px;
  height: 1400px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.right {
  margin: 100px;
}

.logo {
  margin-top: 300px;
}

.title {
  margin: 100px;
  font-size: 60px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin-top: 40px;
  width: 400px;
  /* text-align: center; */
}

input {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}
